body {
  margin-left: 10px;
  margin-right: 10px;
  margin: 0px;
}

/*=================
Navbar Start
===================*/

.my_navbar {
  background-color: #826363;
  background-color: white;
  position: fixed;
  width: 100%;
  opacity: 1000;
  margin-top: 0px;
  padding-top: 0px;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
  display: block;
}
.my_navbar div .main_logo {
  width: 260px;
  text-align: center;
}
.my_navbar div ul {
  float: right;
  display: flex;
  align-items: center;
  list-style: none;
  padding-right: 20px;
  margin-right: 40px;
}
.my_navbar div ul li {
  margin-left: 20px;
}
.my_navbar ul li .icon_shade {
  text-shadow: 1px 1px 1px #000;
}

#company_name {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  line-height: 52px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(26, 23, 23);
  margin-left: 10px;
  display: block;
  font-family: 'Titillium Web', sans-serif;
}
@media screen and (min-width : 490px) {
  .my_navbar {
    padding-left: 50px;
    padding-right: 50px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

/*=================
Navbar End
===================*/

/*=================
Main section Start
===================*/

.main_section_images {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: url('https://images.unsplash.com/photo-1519735777090-ec97162dc266?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=815&q=80'); */
  background-size: cover;
  opacity: 0.4;
  content: "";
  z-index: -1;
}
#main_section {
  position: absolute;
  margin-left: 3%;
  margin-right:3%;
  margin-top: 122px;
  width: 94%;
  height: 100%;
  /* background: url('https://images.unsplash.com/photo-1519735777090-ec97162dc266?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=815&q=80'); */
  background-size: cover;
  opacity: 1.0;
  content: "";
  z-index: -1;
}


/*=================
Main section End
===================*/

/*=================
Companies start
===================*/
#companies {
  padding-top: 800px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
#companies h1 {
  text-align: center;
}
.line {
  width: 200px;
  height: 4px;
  background-color: #826363;
  margin: auto;
  border-radius: 10%;
}
.line_short {
    width: 100px;
    height: 1px;
    background-color: #826363;
    margin: auto;
    border-radius: 20%;
}
.ln {
  text-align: center;
  background-color: #826363;
  color: white;
  border-radius: 100%;
  padding: 2px;
}
.companies_single {
  display: inline-block;
  width: 100%;
  /* background-color: #826363; */
}
#companies .c_body {
  display: table;
  margin: 0 auto;
  /* background-color: #826363; */
  width: 100%;
  height: fit-content;
}
#companies .c_body .single {
  float: left;
  width: 31%;
  background-color: #826363;
  margin: 1.1%;
  padding: 1px;
  box-shadow: 0 0 .7em rgba(0, 0, 0, .5);
}
#companies img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.empty_single {
  float: left;
  width: 31%;
  background-color: #fff;
  margin: 1.1%;
  padding: 1px;
  box-shadow: 0 0 .7em rgba(0, 0, 0, .5);
}
@media screen and (max-width : 900px) {
  #companies .c_body .single {
    width: 43%;
    margin: 3%;
  }
  .empty_single {
    width: 0%;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
  }
}

/*=================
Companies section End
===================*/

/*=================
Partners start
===================*/
#partners h1 {
  text-align: center;
}
.parners body {
  display: block;
}
#partners .body .single {
  float: left;
  width: 30%;
  background-image: url('https://media-exp1.licdn.com/dms/image/C511BAQHDmQrN7RC_fw/company-background_10000/0/1553433731336?e=2159024400&v=beta&t=-2KZtDePjrWy5Iave68lKvqGJqUwYffwXQJg-QQD3Dg');
  background-size: cover;
  height: 200px;
  background-color: #826363;
  margin: 10px;
}
/*=================
Partners section End
===================*/

/*=================
Footer start
===================*/
#footer {
    margin-top: 10px;
    background-color: #826363D0;
    position: relative;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    display: table;
}
#footer ul {
  margin-bottom: 0px;
}

#footer .contacts {
    float:left;
    width: 30%;
}
#footer .links {
    float : right;
    width: 30%;
    margin-top: -300px;
}
#footer p  {
    margin-left: 20px;
    margin-right: 20px;
}
#footer h2 {
    margin-left: 0px;
    margin-right: 0px;
}
/* From tutplus */
/* Generic styling */
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #826363;
  color: #bbb;
  line-height: 1.3;
}
footer a {
  text-decoration: none;
  color: #000;
}
footer li {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
  color: #fff;
}
.ft-title {
  color: #000;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 0rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.ft-social {
  padding: 0 0px 0px;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 0px;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #82636380;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}

/*=================
Footer End
===================*/