body {
  margin-left: 10px;
  margin-right: 10px;
  margin: 0px;
  line-height: 1;
}


/*=================
Main section Start
===================*/

.main_section_images {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: url('https://images.unsplash.com/photo-1519735777090-ec97162dc266?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=815&q=80'); */
  background-size: cover;
  opacity: 0.4;
  content: "";
  z-index: -1;
}
#main_section {
  position: absolute;
  margin-left: 3%;
  margin-right:3%;
  margin-top: 122px;
  width: 94%;
  height: 100%;
  /* background: url('https://images.unsplash.com/photo-1519735777090-ec97162dc266?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=815&q=80'); */
  background-size: cover;
  opacity: 1.0;
  content: "";
  z-index: -1;
}


/*=================
Main section End
===================*/

/*=================
Companies start
===================*/
#companies {
  padding-top: 800px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
#companies h1 {
  text-align: center;
}
.line {
  width: 200px;
  height: 4px;
  background-color: #826363;
  margin: auto;
  border-radius: 10%;
}
.line_short {
    width: 100px;
    height: 1px;
    background-color: #826363;
    margin: auto;
    border-radius: 20%;
}
.ln {
  text-align: center;
  background-color: #826363;
  color: white;
  border-radius: 100%;
  padding: 2px;
}
.companies_single {
  display: inline-block;
  width: 100%;
  /* background-color: #826363; */
}
#companies .c_body {
  display: table;
  margin: 0 auto;
  /* background-color: #826363; */
  width: 100%;
  height: fit-content;
}
#companies .c_body .single {
  float: left;
  width: 31%;
  background-color: #826363;
  margin: 1.1%;
  padding: 1px;
  box-shadow: 0 0 .7em rgba(0, 0, 0, .5);
}
#companies img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.forever-single {
  float: left;
  width: 31%;
  background-color: #826363;
  margin: 1.1% 34.3%;
  padding: 1px;
  box-shadow: 0 0 .7em rgba(0, 0, 0, .5);
}
@media screen and (max-width : 900px) {
  #companies .c_body .single {
    width: 43%;
    margin: 3%;
  }
  .empty_single {
    width: 0%;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
  }
}

/*=================
Companies section End
===================*/

/*=================
Partners start
===================*/
#partners h1 {
  text-align: center;
}
.parners body {
  display: block;
}
#partners .body .single {
  float: left;
  width: 30%;
  background-image: url('https://media-exp1.licdn.com/dms/image/C511BAQHDmQrN7RC_fw/company-background_10000/0/1553433731336?e=2159024400&v=beta&t=-2KZtDePjrWy5Iave68lKvqGJqUwYffwXQJg-QQD3Dg');
  background-size: cover;
  height: 200px;
  background-color: #826363;
  margin: 10px;
}
/*=================
Partners section End
===================*/
